<%- include('partials/header') -%>
<div class="container w-50 mt-2">
    <%- include('partials/messages') -%>
    <h1 style="color: green;" class="text-center">Login Successful!</h1>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Hello, User!</h1>
        <p class="lead">This is a simple page showing that you are logged in successfully, and the authentication is working!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
      </div>
</div>
<%- include('partials/footer') -%>